<div class="row">

  <div class="col-sm-6 text-center">
    <h3>あたしログ</h3>
    <hr>

    <div class="logs" id="logs">
      <div ng-repeat="log in global.logs track by $index">
        {{log.content}}
        <br ng-repeat="br in log.brs track by $index" />
      </div>
    </div>

    <form class="form-inline" role="form">
      <div class="form-group">
        <button class="btn btn-primary" data-ng-click="setNode(currentNode.parentLink, true)" ng-disabled="!currentNode.parentLink">
          <span class="glyphicon glyphicon-backward"></span> ひとつ戻る
        </button>
      </div>
      <div class="form-group">
        <a class="btn btn-success" ng-click="speekAll()" ng-disabled="!global.useSpeech"><span class="glyphicon glyphicon-volume-up"></span> 全文読み上げ</a>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-ng-model="global.useSpeech" ng-change="onChangeUseSpeech()">
          読み上げを有効にする
        </label>
      </div>
    </form>

    <br>
    <a class="btn" data-ng-click="clearLog()">全文クリア</a>

  </div>

  <div class="col-sm-6 text-center">

<h3>あたしノード <small>好きな子ノードをクリックしてお話を作りましょう</small></h3>
<hr>

<div class="list children" ng-class="{loading: isChildLoading}">
  <h4>子ノードリスト<span class="badge">{{childrenTable.total()}}</span></h4>
  <table ng-table="childrenTable" class="table">
    <tr ng-repeat="item in $data">
      <td data-title="'言葉'" sortable="'content'" class="row-content" ng-click="setNode(item)">{{item.content}}</td>
      <td data-title="'改行'" sortable="'br'" class="row-br">{{item.br}}</td>
      <td data-title="'頁'" sortable="'page'" class="row-page"><a ng-href="{{global.novelURL + item.page}}" target="_blank">{{item.page}}/{{item.index}}</a></td>
    </tr>
  </table>
</div>

  </div>



</div>
