<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#atashi-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">あたしオートマトンナビゲーター</a>
    </div>
    <div class="collapse navbar-collapse" id="atashi-nav">
      <ul class="navbar-nav nav navbar-right">
        <li class="divider-vertical"><a href="/about">about</a></li>
        <li class="divider-vertical"><a>バージョン：{{global.appVersion}}</a></li>
        <li class="divider-vertical"><a href="https://twitter.com/miyaoka">@miyaoka</a></li>
      </ul>
    </div>
  </div>
</nav>
