<h1>更新履歴</h1>

<ul>
<li>v1.0.3 (2014.06.09)
  <ul>
    <li>読み上げ機能を実装した</li>
    <li>章指定スタートをnavbarからmainに移した</li>
    <li>aboutとreleaseページを追加した</li>
  </ul>
</li>
<li>v1.0.2 (2014.06.08)
  <ul>
    <li>ルーティングを変更し、/以外に遷移しないようにした</li>
    <li>カレントノードと親ノードの表示を無くし、子ノードだけにした</li>
    <li>親ノードへのリンクの代わりに「ひとつ戻る」ボタンをつけた</li>
    <li>子ノード取得中にローディング表示し、クリックできないようにした</li>
    <li>navbarに章指定スタートを入れた</li>
  </ul>
</li>
<li>v1.0.1 (2014.06.05)
  <ul>
    <li>表示スタイルなど調整</li>
  </ul>
</li>
<li>v1.0.0 (2014.06.05)
  <ul>
    <li>一通り作った</li>
  </ul>
</li>
</ul>